header #hamburger{
    float: right;
    cursor: pointer;
    position: fixed;
    right: 2%;
    z-index: 3;
}

#hero {
    background-image: url("images/office.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#hero h1 {
    color: #253445;
    background-color: rgba(242, 242, 242, 0.5);
    padding: 20px;
    width: 75%;
    margin: auto;
}

nav {
    position: fixed;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
.about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "image image"
        "text text";
}
.about_image {
    grid-area: image;
    border-radius: 50%;
    width: 50%;
    justify-self: center;
}

.about_text {
    grid-area: text;
}

.sidebar {
    position: fixed;
    z-index: 2;
    height: 100vh;
    bottom: 100vh;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    transition: all 0.7s;
    overflow: hidden;
}
.sidebar .navlink {
    font-size: 2em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}
.sidebar ul {
    padding: 5vh 0 0 0;
}
.sidebar li {
    border-bottom: 2px solid black;
    padding-top: 10px;
    margin: auto;
}
#navside.visible {
    bottom: 0;
}
@media only screen and (orientation: landscape) and (min-width: 650px) {
    .sidebar {
        left: 100vw;
        right: 0;
        bottom: 0;
        text-align: left;
        /*border-left: 1px solid #222;*/
    }
    #navside.visible {
        left: 60vw;
    }
    .sidebar li {
        margin: 0;
    }
    .sidebar ul {
        padding-left: 40px;
        margin-top: 9vh;
    }
}
@media only screen and (orientation: landscape) and (min-width: 1200px) {
    #navside.visible {
        left: 70vw;
    }
}