.showcase {
    display: grid;
    grid-template-columns: 10% 60% 10%;
    grid-template-rows: auto 30vw auto;
    grid-template-areas: 
    "heading heading heading"
    " arrow_left carousel arrow_right"
    " . dots .";
    grid-column-gap: 5%; 
    align-items: center;
    justify-content: center;
}
.showcase h3 {
    grid-area: heading;
}

.carousel {
    position: relative;
    display: inline-block;
    grid-area: carousel;
    height: 100%;
}
.carousel .teamproject_img, .carousel .singleproject_img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 1s;
    z-index: 0;
}
.carousel .showcase_layer {
    width: 92%;
    background: #140c5c;
    text-decoration: none;
    color: white;
    z-index: 2;
    position: absolute;
    opacity: 0.6;
    margin: 0;
    padding: 0 4% 0 4%;
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
    font-size: 0.7em;
}
.singleproject_img:hover .showcase_layer, .teamproject_img:hover .showcase_layer {
    height: 93% !important;
    padding: 4% 4% 0 4% !important;
}
.showcase_layer .project-title {
    font-size: 1em;
    line-height: 1.4em;
    text-decoration: underline;
}
.carousel .showcase_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.carousel .active {
    z-index: 1;
    opacity: 1;
}
.arrowbox {
    width: 10vw;
    display: inline-block;
    cursor: pointer;
}
.arrowbox:hover {
    width: 10.2vw;
}
.arrowbox:hover svg{
    stroke: #222;
    transform: scale (1.1, 1.1);
    fill: #222;
}
.arrowbox_left {
    grid-area: arrow_left;
}
.arrowbox_right {
    grid-area: arrow_right;
}
.arrowbox svg {
    stroke-width: 1px;
    stroke: #888;
    fill: #888;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}
.dots {
    grid-area: dots;
    text-align: center;
    margin-top: 2em;
}
.dots li {
    display: inline-block;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: 0 3px 0 3px;
    background-color: #333;
}
.dots li.active {
    background-color: #fff !important;
}

@media only screen and (min-width: 470px) {
    .showcase_layer .project-title {
        font-size: 1.2em;
        line-height: 1.6em;
    }
    .carousel .showcase_layer {
        font-size: 0.9em;
    }
}
@media only screen and (min-widht: 770px) {
    .carousel .showcase_layer {
        font-size: 1em;
    }
    .showcase_layer .project-title {
        font-size: 1.4em;
        line-height: 1.8em;
    }
}