body {
    margin: 0;
}
header {
    max-height: 100px;
    height: 6vh;
    border: 1px solid black;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
header svg {
    max-height: 100px;
    height: 6vh;
    width: 10%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    font-family: "Mr Dafoe", cursive;
    font-size: 52;
}
/*.hamburger {
    height: 100px;
    width: 50px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}*/